# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode
!.vscode/extensions.json
!.vscode/settings.json

.env*
!.env.sample

# Hardhat files
/cache
/artifacts

# web3
packages/web3/.dist
packages/web3/.cache
packages/web3/node_modules
packages/web3/.env

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

.serverless
*-lock*